h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100vw;
  height: 10vh;
  padding: 5px;
  color: black;
  background-position-x: center;
  float: inline-start;
  text-align: left;
}

h2 {
  text-align: start;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background: url("img/background.jpg") center center cover no repeat fixed;
}

.box {
  background-color: lightblue;
  background-position-x: center;
  width: 90vw;
  height: 400px;
  box-sizing: content-box;
  align-content: center;
  border: 2px solid slategray;
  border-radius: 2%;
  Margin: auto;
}

.box div {
  text-align: justify;
  float: right;
  height: 100%;
  width: 100%;
}

p {
  float: right;
  margin: auto;
}

.box2 {
  opacity: 0.5;
  background-color: white;
  width: 100vw;
  height: 100%;
  margin-left: 20vw;
  text-align: right;
  float: right;
  margin: 0;
}

p .about {
  font-style: italic;
  font-size: large;
  font-weight: 500;
}

img {
  border: 1px solid gray;
  align-items: center;
  border-radius: 50%;
  width: 30vw;
  float: left;


}

/* img {
  border: 1px solid gray;
  align-items: center;
  width: 80%;

} */

@media screen and (max-width: 480px) {
  .box {
    float: none;
    background-color: aquamarine;
  }

  .box img {
    width: 80%;
  }
}