* {
  padding: 0;
  top: auto;
}


/* #container tag is used for all text boxes  */

.container {
  background-color: whitesmoke;
  opacity: .8;
  width: 90%;
  min-height: auto;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 100px;
  margin: 20px;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 5rem;
  text-align: left;
  position: relative;
  z-index: 0;
  font-family: 'Libre Baskerville', serif;
  border-style: double;
  border-color: lavender;

}

/* styling for text in div tags */
.content {
  font-family: 'Libre Baskerville', serif;
  padding-left: 8%;
  padding-right: 8%;
  text-align: left;

}

/* sticky element for top nav bar */
div.sticky {
  position: sticky;
  top: 0;
  background-color: lavenderblush;
  width: 75%;
  height: 20rem;
  z-index: 1;
  margin-left: 10rem;
  margin-right: 10em;
  padding-right: 10rem;

}

/* Styling for icon */
#icon {
  font-family: 'Shrikhand', cursive;
  color: black;
  text-align: left;
  background-color: lightpink;
  border-radius: 10%;
  float: right;
  width: auto;
  height: auto;
  padding: 10px;
  margin-right: 5rem;
  margin: .5rem;
  vertical-align: top;
  display: flexbox;
  z-index: 1;
}

/* Line item positioning  */
li {
  margin-left: 5%;
  font-family: 'Libre Baskerville', serif;
}

/* For top name section of page */
.namecard {
  border: 2px;
  border-radius: 2px;
  padding-left: 5%;
  height: 10rem;
  text-align: center;
  position: relative;
  z-index: 2;
  font-family: 'Shrikhand', cursive;

}

/* used to make font in namecard non-opaque */
.namecard::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: fit-content;
  z-index: 2;
  font-family: 'Shrikhand', cursive;
}

/* Profile image */
#img {
  border-radius: 50%;
  height: 20%;
  width: 20%;
  position: relative;
  margin-right: 50%;
  margin-left: 1rem;
  z-index: 1;
}


/* Name on page */
h1 {
  text-align: right;
  font-family: 'Shrikhand', cursive;
  position: relative;
  margin-left: 3rem;
  padding-right: 3rem;
}

/* About me/Experience/Projects/Hobbies styling header */
h2 {
  text-align: left;
  font-family: 'Shrikhand', cursive;
  position: relative;
}

/* Exp, hobbies and interests header */
h3 {
  font-family: 'Shrikhand', cursive;
  text-align: left;
  font-weight: 600;
  position: relative;
}

/* border on bottom of titles */
.divider {
  border-bottom: darkcyan;
  border-width: 5px;
  border-style: double;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 5%;
  margin-left: 4%;
  margin-right: 4%;
}